* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

#form {
display: none;
margin-left: 5%;
}
#text-form{
    width:70%; height:150px;
  
}

P{
    font-size:20px;
    font-family: Forum;
}
.text-com-name{
    font-weight: bold;
}
.grid-network{
    text-align: center;

}
[class^="box-"] {
    background-color: white;
    /* Размещаем контейнеры по центру */
    display: grid;
    place-items: left;
    
}
[class^="head-"] {
    background-color: white;
    /* Размещаем контейнеры по центру */
    display: grid;
    place-items: center;
    color: #9823C6;
    
}
[class^="main-"] {
    background-color: white;
    /* Размещаем контейнеры по центру */
    display: grid;
    place-items: center;
    
}
.txt-main{
    margin-top: 5%;
    margin-left: 3%;
}
.course-about {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  margin:10px;
  grid-gap: 16px;
  padding:0;
  justify-items: center; 
  
  
}
.txt-but{
    color:black;
    text-decoration: none;
    font-size: 13px;
}
[class^="choice-about"] {
    background-color: #A4DDF2;
    /* Размещаем контейнеры по центру */
    display: grid;
    place-items: top;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    justify-content: center;
    padding: 20px 5px;
    margin:0;
    padding-bottom: 10px;
    
}
.course {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    margin: 2% 5% 0 5%;
    grid-gap: 16px;
    padding:0;
  }
[class^="choice-"] {
    background-color: #A4DDF2;
    /* Размещаем контейнеры по центру */
    display: grid;
    place-items: top;
    height: auto;
    border-radius: 20px;
   /* float:center;*/
    padding: 20px 5px;
    margin:0;
}

.comment {
    background-color: #A4DDF2;
    /* Размещаем контейнеры по центру */
    display: grid;
    place-items: top;
    /*height: 800px;*/
    border-radius: 20px;
    float:center;
}

.size{
    white-space: nowrap;
    overflow: hidden;
    padding:5px;
    text-overflow: ellipsis;
}
.size:hover{
    white-space: normal;
}


[class^="com-"]{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    padding:2px;
    gap:5px;
    margin:10px;
    
   
} 
.col-25{
    -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.text-com{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding:5px;

}

.head-up{
   background-color:  #A4DDF2;
}
.con{
    padding: 5px;
}
@media (max-width:606px) {
    p{font-size: 14px;}
    .about{
        font-size: 12px;
        padding: 10px
    }

}
[class^="infocourse-"]{
    display:grid;
    font-size:17px;
    font-family: FreeMono, monospace;
    text-align:left;
    padding: 0%;
    width: 100%;
    float:left;
    

}
.left-col{
    text-indent:10px;
}


.text-center{
    display: flex;
    align-items: center;
    justify-content: center;

}
.name-course{
    font-size: 27px;
    font-weight: bold;
    margin-top: 2%;
    vertical-align: top;
    
}

.img {
   float:right;
   margin-left: 68%;
    display:flex;
    align-items:flex-end;
    shape-outside:inset(calc(100% - 100px) 0 0);
    border-radius: 20px;
}
.choice{
    text-align:center;
}
.fchoice{
    display: grid;
    text-align:center;
    margin:3px;
    padding:0;
    /*margin-left: 150px;*/
   
}
.container {
    
    display: grid;
    
    gap: 40px;
    /*height: 20vh;*/
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "header header header header"
                         "main main"
                         

}
.question{
   display: grid;
   grid-template-columns: 60% 40%;
    text-align:center;
    gap:0px;
    margin-left: 15%
}
.text-ques{
    text-align: left;
    
    
}
.button-ques{
    color:transparent;
    border:none;
    background-color: white;
    text-align: right;
}
.header {

   /* gap:20px;*/
    display: grid;
    grid-template-columns: repeat(4,1fr) repeat(3,2fr) repeat(1,2fr) repeat(1,2fr);
    
    grid-template-areas: "header";
    color: #9823C6;
    
}
.about{
    font-size:25px;
    margin-left: 15%;
}
.aboutus{
    font-size:25px;
}
.thumb img  {
    border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
    padding: 15px; /* Расстояние от картинки до рамки */
    background: rgb(255, 255, 255); /* Цвет фона */
    margin-right: 20%; /* Отступ справа */
    margin-bottom: 10px; 
    object-fit:fill;

}
 
   .photo-img{
    
   display: grid;

   }
   
.main {
    gap:160px;
    /*margin: 0 50px 0 50px;*/
    display: grid;
    grid-template-areas: "main";
    grid-template-columns: 550px auto;
}
a:link {
    color: #9823C6;
    text-decoration: none; 
    
}
.head-text {
    font-size:18px;
    color: #9823C6;
     
}
.course-text {
    font-size:30px;
    color:rgba(24, 0, 243, 0.911);
    font-family: Comic Sans MS;
    text-align:left;
     
}
.main-text {
    font-family: Andale Mono;
    font-size:20px;
    text-align:left;
    /*line-height: 40px;*/
}
.floating-button {
    text-decoration: none;
    display: inline-block;
    padding-left:2%;
    padding-right:2%;
    line-height: 45px;
    border-radius: 45px;
    margin-bottom: 1%;

    font-family: 'Montserrat', sans-serif;
    color:black;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    color: black;
    background: #FFC34E;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
  .floating-button:hover {
    background: #A4DDF2;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: black;
    transform: translateY(-7px);
  }
 .answer-ques {
    display: none;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    text-align:left;

  }
  /*
Форма обратной связи
*/
#inline {
   /* margin-left:70px;*/
    width:80%;
    margin:0 10px;
    background:#FFF;
    padding:10px 20px;
    text-align: center;
 }
 .txt {
    display:inline-block;
    color:#676767;
    width:190px;
    margin-bottom:10px;
    border:1px solid #CCC;
    padding:5px 9px;
    font-size:15px!important;
    line-height:1.4em;
 }
 .txtarea {
    display:inline-block;
    color:#676767;
    width:580px;
    margin-bottom:10px;
    border:1px solid #CCC;
    padding:5px 9px;
    font-size:15px!important;
    line-height:1.4em;
    height:80px;
    
 }
 .txt:focus, .txtarea:focus {
    border-style:solid;
    border-color:#BABABA;
    color:#444;
 }
 input.error, textarea.error {
     border-color:#973D3D;
     border-style:solid;
     background:#F0BEBE;
     color:#A35959;
 }
 input.error:focus, textarea.error:focus {
     border-color:#973D3D;
     color:#A35959;
 }
 .footer {

    /* gap:20px;*/
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
     grid-template-areas: "footer footer footer";
     background-color: #A4DDF2;
     padding: 20px;
     margin: 2% 15% 0 15%;
 }
 [class^="foot-"] {
    background-color: #A4DDF2;
    /* Размещаем контейнеры по центру */
    display: grid;
  
    place-items: center;

    grid-template-rows: repeat(5,1fr);
    
}
.name-fot{
    margin:9%;
}
.img-info{
    width: 50px;
    height: 50px;
    border: 0;
    float: left;
    margin-right: 10px;
  
}
.fot-logo{
    width: 55%;
    height: 55%px;
    margin-left: 22%;
    margin-top: 14%;
}
.text-home{
    font-size:20px;
    font-family: Forum;
    text-align:center;
   color:#9823C6;
   
}
.info-fot{
    padding-bottom: 10px;
    text-align: left;
}

.info-course{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    background-color: #A4DDF2;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
[class^="icour-"] {
    background-color: skyblue;
    /* Размещаем контейнеры по центру */
    display: grid;
    place-items: center;
    
   
  }
  .infolist{
    display: grid;
    gap: 20px;
    grid-template-columns: 40% 60%;
      text-align: left;
      place-items: center;
      
      
  }
.inli-1 {
   position: absolute;
   float: left;
    display: grid;
    place-items: center;
    font-family: 'Forum';
    
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 31px;

   
  }
  .inli-2{
      
    padding-left: 15%;
    display: grid;
    place-items: center;
    text-align: left;
    white-space:unset;
  }
  .ellipse {
    width: 30px; 
    height: 30px;
    background: #83A7C9;
    border-radius: 50%;
    margin: 0;
    
    }
 /*
 #send { 
     color:#FFFFFF;
     display:block;
     cursor:pointer;
     padding:5px 11px;
     font-size:1.2em;
     border:solid 1px #F9F9F9;
     border-radius:2px;
     background:#FFC34E;
     width:190px;
     margin-bottom:20px;
     text-align: center;
 }*/
 #send:hover {
     background:#979797;
 }
 /*
 Форма обратной связи
 */
